$main-header-color: #f6f8fb;
$cards-body-color: #ffffff;
$color__input--border: #d3d3d9;
$color__main--shade1: #4a4b4c;
$from-color: #adb4bc;
$header-welcome-text: #ef3124;
$black-color: #000000;
$card-box-color: #f8f9fa;
$color-secondary-shade: #004a48;
$color-secondary--shade2: #006a67;
